[submodule "dotvim/bundle/ctrlp.vim"]
	path = dotvim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "dotvim/bundle/vim-coffee-script"]
	path = dotvim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dotvim/bundle/vim-colors-solarized"]
	path = dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotvim/bundle/vim-surround"]
	path = dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/vundle"]
	path = dotvim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
